<app-navbar></app-navbar>

<div class="dashboard-container">

    <!-- Side Navigation -->

    <div class="sidebar">

        <app-sidenav></app-sidenav>

    </div>

    <!-- Main Content -->

    <div class="main-content">

        <h2 class="title">

            Dashboard

        </h2>

        <div class="cards">

            <mat-card class="card blue">

                <mat-icon>menu_book</mat-icon>

                <h2>120</h2>

                <p>Total Books</p>

            </mat-card>

            <mat-card class="card green">

                <mat-icon>library_books</mat-icon>

                <h2>20</h2>

                <p>Issued Books</p>

            </mat-card>

            <mat-card class="card orange">

                <mat-icon>people</mat-icon>

                <h2>15</h2>

                <p>Total Users</p>

            </mat-card>

            <mat-card class="card red">

                <mat-icon>assignment_return</mat-icon>

                <h2>8</h2>

                <p>Returned Books</p>

            </mat-card>

        </div>

        <mat-card class="recent-books">

            <h2>Recent Books</h2>

            <p>Angular Material Table will be displayed here.</p>

        </mat-card>

    </div>

</div>