.container{

padding:20px;

}

mat-card{

padding:20px;

}

table{

width:100%;

margin-top:20px;

}

mat-form-field{

width:300px;

}

th{

background:#1976d2;

color:white;

}

.ISSUED{

background:#ff9800;

color:white;

padding:5px 12px;

border-radius:20px;

font-weight:bold;

}

.RETURNED{

background:#4caf50;

color:white;

padding:5px 12px;

border-radius:20px;

font-weight:bold;

}